<div class="row">
	<div class="article-holder">
		<div class="article-header">
			<%= image_tag "gonf.png" %>
		</div>

		<div class="article-info">
			<div class="row">
				<div class="large-12 columns text-center">
					<h3><%= @picture.title %></h3>
					<span>posted 4 hours ago</span>
				</div>
			</div>
			<div class="spacing"></div>
		</div>

		<div class="article-content">
			<p>


Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse finibus dui vitae elit tristique, non volutpat massa consectetur. Nulla facilisi. Aenean ultrices tristique mauris, nec ullamcorper lacus sodales blandit. Integer malesuada magna ac hendrerit sagittis. Sed sit amet felis a neque rhoncus suscipit nec non nisl. Suspendisse at nisi sollicitudin, posuere ipsum nec, facilisis metus. Curabitur scelerisque blandit egestas. Nam pretium tortor ac bibendum vulputate.
<br><br>
Curabitur rutrum congue nulla vel eleifend. Vestibulum efficitur auctor arcu vel dignissim. Sed molestie efficitur lorem vel ultrices. Nulla facilisi. Duis viverra, justo in elementum fringilla, nisi odio commodo sapien, nec commodo nibh est vitae nunc. Morbi a arcu lectus. Mauris mattis tristique elit, et accumsan neque efficitur ut. Etiam tincidunt nisi in auctor volutpat. Sed massa mauris, maximus ac placerat eget, pellentesque sit amet dui. Donec eget leo tempus, congue ligula ac, volutpat orci. Cras et ipsum est. Praesent auctor arcu aliquet, sodales leo in, aliquet nunc. Proin eleifend est vitae enim convallis ullamcorper. Ut at mi ligula. Pellentesque urna enim, placerat id dignissim eget, viverra dictum nisi. Nam malesuada dolor eget felis maximus, ac ultricies tellus consequat. 
			</p>
		</div>
	</div>
</div>